@font-face {
  font-family: 'RobotoRegular';
  src: url(#{$fontsPath}Roboto/Roboto-Regular.ttf) format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'RobotoThin';
  src: url(#{$fontsPath}Roboto/Roboto-Thin.ttf) format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'RobotoMedium';
  src: url(#{$fontsPath}Roboto/Roboto-Medium.ttf) format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'RobotoLight';
  src: url(#{$fontsPath}Roboto/Roboto-Light.ttf) format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'RobotoBold';
  src: url(#{$fontsPath}Roboto/Roboto-Bold.ttf) format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'RobotoBlack';
  src: url(#{$fontsPath}Roboto/Roboto-Black.ttf) format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'YanoneKaffeesatz';
  src: url(#{$fontsPath}YanoneKaffeesatz/YanoneKaffeesatz-VariableFont_wght.ttf) format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'PTSans';
  src: url(#{$fontsPath}PTSans/PTSans-Regular.ttf) format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url(#{$fontsPath}Poppins/Poppins-Regular.ttf) format('truetype');
  font-style: normal;
  font-weight: normal;
}
