body {
  position: relative;
  overflow-x: hidden;
  max-width: 100%;
  background-color: $color_white;
  font-family: $font_family_regular;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  max-width: 1024px;
}

a {
  color: $color_black;
  text-decoration: none;
}

.btn {
  padding: 12px 56px;
  border-radius: 40px;
  font-size: 15px;
  text-align: center;
  transition-duration: 0.4s;
  margin: 0 auto;
  cursor: pointer;
  white-space: nowrap;

  &:hover {
    box-shadow: 0 20px 38px rgba(0, 0, 0, 0.16);
    transform: translateY(-3px);
    transition-duration: 0.4s;
  }

  &.btn-primary {
    background-color: #313131;
    color: $color_white;
  }

  &.btn-secondary {
    background-color: #007CF4;
    color: #fff;
  }

  &.btn-reverse {
    background-color: #fff;
    color: #2f80ed;
  }
}

.main {
  min-height: 100vh; /*temp solution*/

  .wrapper {
    padding-top: 40px;
    padding-bottom: 40px;

    @media screen and (max-width: 768px) {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }

  .main-title {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 30px;
    text-align: center;
  }
}

/* Custom select */
.customSelect {
  background: $color_wild_sand;
  border-radius: 7px 8px 8px 7px;
  font-size: 18px;
  color: #000000;
  height: 40px;
  text-indent: 20px;
  text-align: left;
  margin-top: 10px;
  position: relative;
  margin-bottom: 10px;
  transition-duration: .4s;

  &:hover {
    box-shadow: 0 2px 3px rgba(0, 0, 0, .16);
    transition-duration: .4s;
    cursor: pointer;
  }

  &:before,
  &:after {
    width: 10px;
    height: 3px;
    position: absolute;
    content: '';
    right: 15px;
    top: 18px;
    background-color: $color_dove_gray;
  }

  &:before {
    transform: rotate(-45deg);
  }

  &:after {
    transform: rotate(45deg);
    right: 21px;
  }

  .custom-select-opener {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px 0;
  }

  .custom-select-panel {
    background-color: $color_white;
    position: absolute;
    display: none;
    width: 100%;
    z-index: 1;
    border: 1px solid;
    border-top: none;
    top: 38px;

    .custom-select-option {
      padding: 5px 0;

      &.has-focus {
        background-color: darkgrey;
      }
    }
  }

  &.is-open {
    .custom-select-panel {
      display: block;
    }
  }

  select {
    display: none;
  }
}
